
/* nav bar */
html {
  overflow-y: scroll;
}
body {
  padding-top: 54px;
  margin-top: 30px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }

.container{
    color: black;
  }
    
 nav{
    background-color: #800000;
 }
 
 a{
    color: #800000;  
 }
     
 a:hover{
    color: grey;  
 }
    
.container input[type=text] {
    padding: 5px;
    border: none;
    font-size: 18px;
 }
    
#searchBtn{
  float: right;
  padding: 6px 10px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
   
#searchForm {
    margin-right: 111px;
 }


.navbar-brand{
    font-size: 25px;
    font-style: italic;
    font-family: serif;
}
.navbar-nav{
   font-size: 18px;
}

.dropdown {
    color: moccasin;
    margin-top: 5px;
}

.dropdown-menu{
    padding-left: 15px;  
}

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
    
@media screen and (max-width: 600px) {
table#cart tbody td .form-control{
    width:20%;
    display: inline !important;
}
    
.actions .btn{
    width:36%;
    margin:1.5em 0;
}
	
.actions .btn-info{
    float:left;
}

.actions .btn-danger{
    float:right;
}
	
table#cart thead { 
    display: none; 
}
    
table#cart tbody td { 
    display: block; padding: .6rem; min-width:320px;
}
    
table#cart tbody tr td:first-child { 
    background: #333; color: #fff; 
}
    
table#cart tbody td:before {
    content: attr(data-th); font-weight: bold;
    display: inline-block; width: 8rem;
}
	
table#cart tfoot td{
    display:block; 
}
    
table#cart tfoot td .btn{
    display:block;
}

}