
/* nav bar */
html {
  overflow-y: scroll;
}

body {
  padding-top: 54px;
}

.container{
    color: black;
  }
    
 nav{
    background-color: #800000;
 }
 
 a{
    color: #800000;  
 }
     
 a:hover{
    color: grey;  
 }
    
.container input[type=text] {
    padding: 5px;
    border: none;
    font-size: 18px;
 }
    
#searchBtn{
  float: right;
  padding: 6px 10px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
   
#searchForm {
    margin-top: 3px;
    margin-right: 45px;
 }


.navbar-brand{
    font-size: 25px;
    font-style: italic;
    font-family: serif;
}
.navbar-nav{
   font-size: 18px;
}

#resultContainer{
    color:red;
}
